/* Estilo general */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1C1F30;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #1C1F30;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Menú de navegación */
nav {
    background-color: #292C3E; /* Fondo oscuro para el menú */
    color: white; /* Color del texto */
    padding: 10px 0; /* Espaciado interno */
}

nav ul {
    list-style: none; /* Quitar los puntos de la lista */
    margin: 0; /* Quitar márgenes */
    padding: 0; /* Quitar relleno */
    display: flex; /* Colocar los elementos en fila */
    justify-content: center; /* Centrar los elementos horizontalmente */
}

nav ul li {
    margin: 0 15px; /* Espacio entre los elementos de la lista */
}

nav ul li a {
    color: white; /* Color del texto */
    text-decoration: none; /* Quitar el subrayado */
    font-size: 16px; /* Tamaño de fuente */
    transition: color 0.3s; /* Efecto de transición para el color */
}

nav ul li a:hover {
    color: #6f42c1; /* Color al pasar el ratón */
}

/* Estilo para el menú en dispositivos móviles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center; /* Centrar los elementos en columna */
    }

    nav ul li {
        margin: 10px 0; /* Espacio vertical en lugar de horizontal */
    }
}

/* Secciones */
section {
    margin: 20px;
    background-color: #292C3E;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0073e6;
    font-size: 1.5rem;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    transition: transform 0.3s ease;
}

li:hover {
    transform: scale(1.01);
}

strong {
    color: #0073e6;
}

/* Barra de progreso */
#progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
}

#progress-bar {
    height: 20px;
    background-color: #4caf50;
    width: 0;
    border-radius: 10px;
}

/* Botón Volver Arriba */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Ocultar por defecto */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
}

#scroll-to-top:hover {
    background-color: #0056b3;
}
